@media only screen and (max-width: 414px) {
    .calculator {
        width: 200px;
        height: 320px;
    }
    .buttons {
        width: 200px;
        height: 250px;
        margin-top: -45px;
    }
    .button:active {
        box-shadow: 1px 1px;
        top: 1px;
        left: 1px;
    }
    .result {
        width: 180px;
        font-size: 20px;
    }
    #currentNumber {
        top: 0px;
    }
    #snackbar {
        height: 40px;
        width: 230px;
        font-size: 10px;
    }

    .button {
        width: 35px;
        height: 35px;
        font-size: 15px;
        box-shadow: 1px 2px;
        border-radius: 6px;
        margin-top: 5px;
    }

    .equals {
        width: 167px;
        height: 40px;
        font-size: 18px;
        box-shadow: 1px 2px;
        border-radius: 6px;
    }
}