.calculator {
    width: 280px;
    height: 490px;
    border-radius: 10px;
    border: solid 2px black;
    position: relative;
}

img {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    position: relative;
    background-color: #FCC8D1;
}

html {
    margin: 0;
    height: 100%;
    text-align: center;
}

.main-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.panel {
    background-color: white;
    border-radius: 10px;
    position: absolute;
}

.buttons {
    width: 280px;
    height: 395px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: #98DDCA;
    border-radius: 10px;
    margin-top: -20px;
}

.result {
    width: 245px;
    height: 100px;
    margin: auto;
    text-align: right;
    line-height: 50px;
    font-size: 25px;
    margin-top: 15px;
}

#currentNumber {
    display: inline;
    white-space: nowrap;
    height: 50px;
    font-weight: 600;
    padding-right: 5px;
    line-height: 15px;
    color: #000;
    font-family: 'Quicksand', sans-serif;
}

#number1 {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 3px 4px;
}

#number2 {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 3px 4px;
}

#number3 {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 3px 4px;
}

#number4 {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 3px 4px;
}

#number5 {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 3px 4px;
}

#number6 {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 3px 4px;
}

#number7 {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
    box-shadow: 3px 4px;
}

#number8 {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
    box-shadow: 3px 4px;
}

#number9 {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
    box-shadow: 3px 4px;
}

#number0 {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 3px 4px;
    margin-right: 10px;
}

#operator-division {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 3px 4px;
    margin-top: 20px;
}

#operator-multiplication {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 3px 4px;
}

#operator-subtraction {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 3px 4px;
}

#operator-addition {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 3px 4px;
    margin-right: 10px;
}

#dot {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 600;
    box-shadow: 3px 4px;
}

#clear {
    width: 55px;
    height: 55px;
    font-size: 20px;
    border: solid 0.5px #000;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 3px 4px;
}

#operator-equals {
    width: 250px;
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    border: solid 0.5px #000;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 3px 4px;
}

#snackbar {
    height: 60px;
    width: 330px;
    background-color: #302e2b;
    position: fixed;
    bottom: 0;
    border-radius: 5px;
    color: white;
    padding-left: 15px;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 15px;
    display: none;
    font-family: 'Quicksand', sans-serif;
}

.button:active {
    box-shadow: 3px 3px !important;
}

@keyframes moving {
    from {
        bottom: -90px
    }

    to {
        bottom: 0px
    }
}

@keyframes movingBack {
    from {
        bottom: 0px
    }

    to {
        bottom: -90px;
    }
}

#snackbar.show {
    visibility: visible;
    animation-name: moving;
    animation-duration: 500ms;
    display: flex;
}

#snackbar.hide {
    animation-name: movingBack;
    animation-duration: 500ms;
    display: flex;
    visibility: hidden;
    transition-property: visibility;
    transition-delay: 500ms;
}

#snackbar h5 {
    margin-right: 2px;
    font-weight: 500;
    padding-left: 10px;
    color: white;
}